@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

html,
body,
#root {
    height: 100%;
    background-color: var(--background-color);
}

#root {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    background-color: var(--background-color);
    overflow: hidden;
}

:root {
    -webkit-tap-highlight-color: transparent;

    /* colors */
    --primary_w: 80, 170, 141;
    --white_w: 255, 255, 255;
    --black_w: 51, 51, 51;
    --gray_w: 190, 193, 203;
    --light-gray_w: 230, 231, 235;
    --dark-text_w: 102, 102, 102;
    --background-color_w: 242, 244, 246;
    --red_w: 249, 109, 117;
    --light-red_w: 255, 140, 148;

    --primary: rgb(var(--primary_w));
    --white: rgb(var(--white_w));
    --black: rgb(var(--black_w));
    --gray: rgb(var(--gray_w));
    --light-gray: rgb(var(--light-gray_w));
    --dark-text: rgb(var(--dark-text_w));
    --background-color: rgb(var(--background-color_w));
    --red: rgb(var(--red_w));
    --light-red: rgb(var(--light-red_w));

    /* weights */
    --medium-text: 500;

    /* fonts */
    --title-font: "Raleway", "Spoqa Han Sans Neo", sans-serif;
    --text-font: "Spoqa Han Sans Neo", sans-serif;

    /* spacing */
    --margin-inline: 24px;
}

h1 {
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--black);
}

button {
    all: unset;
    cursor: pointer;
    display: flex;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
